/* @font-face {
    font-family: 'Tisa Sans Pro';
    src: url(./fonts/tisa-sans-pro.ttf)
} */
header {
    text-align: center;
    font-size: x-large;
}
header > h1 {
    margin-top: 30px;
    margin-bottom: 20px;
}
/* body {
    font-family: 'Tisa Sans Pro';
} */
#status {
    font-size: large;
    text-align: center;
    margin-bottom: 25px;
}
#grids {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.grid-title {
    text-align: center;
}
.grid {
    display: flex;
    flex-direction: column;
    align-content: center;
    border-color: slategray;
    border-style: solid;
    border-width: 1px;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}
.grid-row {
    display: flex;
    flex-direction: row;
}
.grid-box {
    height: 50px;
    width: 50px;
    border-color: slategray;
    border-style: solid;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgb(255, 255, 255);
}
.grid-box.player-boat {
    background-color: rgb(206, 210, 255);
}
.grid-box.landed-hit {
    background-color: rgb(255, 206, 206);
}
.grid-box.sunk-ship {
    background-color: rgb(255, 106, 106)
}
.grid-box.missed-hit {
    background-color: rgb(201, 201, 201);
}
@media (hover: hover) {
    #grid-one .grid-box:hover {
      background-color: rgb(223, 223, 223);
      cursor: pointer;
    }
    #grid-one .grid-box:active {
      background-color: rgb(201, 201, 201);
      cursor: pointer;
    }
}